body {
  text-align: center;
  background-color: rgb(248, 229, 117);
}

h1 {
  font-family: "Comforter Brush", cursive, sans-serif;
  font-size: 40px;
}

h2 {
  margin: 20px;
}

h3 {
  color: rgb(1, 1, 12);
}

img {
  width: 1000px;
  box-shadow: 0 0 20px rgb(141, 123, 31);
}

ul {
  color: rgb(12, 165, 25);
}

.box,
.box2 {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 9px rgb(116, 100, 20);
  background-color: rgb(250, 242, 132);
}

.box {
  padding-left: 15px;
  padding-right: 15px;
  width: 400px;
  height: 300px;
}

.box2 {
  margin: 30px;
  margin-bottom: 0;
  padding: 20px;
}

.tempo {
  font-style: italic;
  font-size: 15px;
}

.listas {
  display: inline-table;
  margin: 15px;
  text-align: left;
}

.riscado {
  text-decoration: line-through;
}

.opcao {
  color: rgb(60, 60, 179);
}

.heart {
  color: red;
}
